
<body>
    <h1>Bem-vindo ao Catálogo Musical</h1>
<p>Explore discos, artistas e gêneros!</p>
<ul>
    <li><a href="/disco">Discos</a></li>
    <li><a href="/artistas">Artistas</a></li>
    <li><a href="/genero">Gêneros</a></li>
</ul>
</body>
