<%- include('layout', { body: '' }) %>

    <h1>Bem-vindo ao Catálogo Musical</h1>
<p>Explore discos, artistas e gêneros!</p>
<br>
<ul>
    <li><a href="/disco" class="tab discos">Discos</a></li>
    <br>
    <br>
    <br>
    <li><a href="/artistas" class="tab artistas">Artistas</a></li>
    <br>
    <br><br>
    <li><a href="/generos" class="tab generos">Gêneros</a></li>
</ul>
